spring:
  application:
    name: rfc9457
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:productsdb
    username: sa
    password:
  jpa:
    show-sql: true
  mvc:
    problemdetails:
      enabled: true